*{
  padding: 0px;
  margin: 0px;
}
body{
  overflow-x: hidden;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
nav{
  display: flex;
  justify-content: space-between;
  gap: 280px;
 position: fixed;
 z-index: 2;
 background-color: white;
width: 100%;


}
.logo{
  display: flex;
  gap: 40px;
  padding: 30px;
}
.logo select{
  color: green;
  font-weight: bold;
padding:  0px 20px;
 margin: 0px;
  border: 1px solid green;
}
.links{
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.links button{
  padding: 10px;
  color: white;
  background-color:green;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

}

.pages{
border: none;
font-size: 15px;
font-weight: bold;
}

.banner{
 
  height: 600px;
  background-color: rgb(248, 245, 245);
  position: relative;
}

.image1{
  position: absolute;
  height: 300px;
  width:300px;
 top:300px;

}
.image2{
  position: absolute;
  height: 300px;
  width:300px;
 top:310px;
 left:950px;


}

.headings{
  position: absolute;
  text-align: center;
 top:150px;
 left:270px;
}

.headings h1{
  margin-bottom: 30px;
  font-size: 40px;
}
.headings p{
  margin-bottom: 30px;
  font-size: 15px;
}

.inputdiv {

}


.inputdiv input{
  float: left;
  width: 535px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
 
}

.inputdiv button{
  background-color: green;
  color: white;
  padding: 20px 50px;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;

 
}

.featurediv{
  display: flex;
  width: 100%;
  margin: 30px auto;
}
.feature1,.feature2,.feature3{
  width: 30%;
  border: 2px solid black;
  padding: 40px;
  margin: 7px;
  border: none;
  color: white;
}
.feature1 h2,p,button{
  margin-bottom: 20px;
}
.feature2 h2,p,button{
  margin-bottom: 20px;
}
.feature3 h2,p,button{
  margin-bottom: 20px;
}
.feature1{
  background-image: url("express.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feature2{
  background-image: url("cash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}
.feature3{
  background-image: url("giftbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feature1 button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: blue;
  font-weight: bold;
}
.feature2 button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: green;
  font-weight: bold;
}
.feature3 button{
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: pink;
  font-weight: bold;
}
.shopcontainer{
  width: 100%;
  display: flex;
  background-color: rgb(238, 233, 233);
}

.sidebar{
  width: 15%;
  
  padding: 20px;
  list-style-type: none;
  margin-right: 20px;
  background-color: white;
  height: 500px;
 
}
.sidebar select{
  border: none;
  width: 150px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
 
}
.foods{
  width: 85%;
  
 
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: relative;
  background-color: rgb(238, 233, 233);
  flex-wrap: wrap;
  
  margin-top: 40px;
  
 
}


.box{
  width:20%;
  border: 2px solid black;
  padding: 10px;
  height: 420px;
  position: relative;
  background-color: white;
  margin: 10px;
  border: none;
 
}
.boxrate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foods img{
  height: 250px;
  width: 200px;
}
.discount{
  position: absolute;
 top:15px;
 left:160px;
 background-color: gold;
padding: 10px 15px;
 border-radius: 20px;
 color: white;

 
}
.boxrate h2,p,button{
  margin-bottom: 2px;
  
}
.foods p{
  padding-bottom: 20px;
 
}
.boxrate button{
  padding: 10px 30px;
  border-radius: 20px;
  color: green;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
}
.linethroughrate{
  text-decoration: line-through;
 
}

.nolinethroughrate .linethroughrate{
  display: none;
  
}

.boxrate h4{
  color: green;
  
}

.loadmore{
  padding: 15px 40px;
  background-color: green;
  color:white;
  border-radius: 10px;
  font-size: 15px;
  margin: 20px;
  cursor: pointer;
}

.homecontainer{
  position: relative;
}
.close{
  cursor: pointer;
}


.overlay{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.7;
  z-index: 1;

  
}

.showcartbar{
  position: fixed;
width: 400px;
height: 500px;
transition: 2s width linear;
transition-behavior:initial;
top:0%;
left:64%;
padding: 20px;
border: none;
z-index: 2;
background-color: white;
color: black;
overflow-y: auto;



}

.item{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 2px solid grey;
}

.lengthdiv{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nos{
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  
}
.nos div{
  padding-bottom: 5px;
  margin-top: 10px;
}
.or{
  color: green;
  
}
.item img{
  height: 100px;
  width:100px;
}

.name h2,h4{
  padding-bottom: 10px;
  margin-top: 10px;
 
}
.checkoutdiv{
  position: relative;
  
}
.checkout{
  padding: 15px;
  background-color: green;
  
  color:white;
  width: 400px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top:230px;
}
.checkoutdiv .total{
  position: absolute;
  top:235px;
  left:330px;
  padding: 5px 20px;
 
 
}
.total{
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
}
.rate{
  margin-top: 50px;
  font-weight:bold ;
}
.deleteitem{
  cursor: pointer;
  margin-top: 50px;
}

.checkoutcontainer{
  background-color:rgb(230, 227, 227);
 padding-top: 150px;


}

.content{
  margin: 10px 120px;
  display: flex;
  gap: 10px;
  width:100%;
  
  
 
}

.persondetails{
  width:650px;
  border: none;

}
.fooddetailscontainer{
  border: none;
}
.fooddetails{
  
  
  width: 320px;
 padding: 20px;
 border: none;
 font-size: 13px;
 
 
  
}
.contact{
  width: 590px;
  background-color: white;
 margin-bottom: 20px;
  padding: 20px;

}
.head{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  font-size: 15px;
}
.head span{
  background-color: green;
  border-radius: 50%;
  color: white;
  padding: 10px;
  margin-right: 10px;
}
.head button{
  border: none;
  background-color: white;
  font-size: 15px;
  color: green;
  cursor: pointer;
  font-weight: bold;
}
.divinput{
  width:100%;
  border: 1px solid black;
  padding: 5px;
}

.divinput input{
  padding: 10px;
  width:80%;
  border:none;
}
.divinput select{
  padding: 10px;
  border: none;
}
.contact p{
  padding: 20px;
  background-color: rgb(230, 227, 227);
  width: 150px;
}
.schedules div{
  padding: 10px;
  background-color: rgb(230, 227, 227);
  margin: 5px;
  width:165px;

}
.schedules >div h3{
  font-size: 15px;
}
.schedules >div h4{
  font-size: 13px;
}

.schedules{
display: flex;
flex-wrap: wrap;

}
.schedules h4{
  font-size: 14px;
}
.schedules div:hover{
  background-color: white;
  border:2px solid green;
}
.textarea{
  width:100%;
  height: 150px;
}
.fooddetails h2{
  text-align: center;
  padding: 10px;
}
.heading{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 30px;
}
.order{
  display: flex;
  justify-content: space-between;
  padding: 5px;

}
.checkavail{
  padding: 15px 30px;
  background-color: green;
  color: white;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.countvalue{
 
  background-color: green;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  padding: 0px 30px;
  color: white;
  

}
.countvalue div{
 margin:5px
}

.cartbar{
  background-color: green;
 position: absolute;
 height: 80px;
 width: 80px;
 left:875px;
 top:170px;
border-radius: 10px;
z-index: 1;
color: white;
padding: 10px;
text-align: center;

}
.cartbar .ctotal{
  background-color: white;
  border-radius: 20px;
  color: green;
  text-align: center;
  padding: 3px;


}


